openapi: 3.0.3
info:
  title: Mashvisor Data API
  description: >-
    The Mashvisor Data API provides real estate investment analytics for the US
    housing market: short-term (Airbnb) and long-term (traditional) rental
    performance, MLS listings and property records, neighborhood and city
    analytics, rental-rate estimates, investment ROI breakdowns, and market
    trends. All endpoints are read-only (GET) and authenticated with an
    `x-api-key` header. Responses are JSON. Captured by the API Evangelist
    enrichment pipeline from the public documentation at
    https://www.mashvisor.com/api-doc-v2 (no OpenAPI is published by the vendor).
  version: v1.1
  contact:
    name: Mashvisor API Support
    url: https://www.mashvisor.com/api-doc-v2
  x-apievangelist-source: https://www.mashvisor.com/api-doc-v2
  x-apievangelist-method: searched
servers:
  - url: https://api.mashvisor.com/v1.1
    description: Production
tags:
  - name: Search
    description: City, neighborhood, and listing search
  - name: Property Info
    description: Property records, images, taxing, transactions, estimates
  - name: Investment Analysis
    description: ROI, investment breakdowns, and rental performance
  - name: Rental Rates
    description: Traditional and Airbnb rental-rate estimates
  - name: Trends
    description: Market trends and heatmaps
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: >-
        Include your secret API key in the `x-api-key` header on every request.
        Obtain a key by registering for a developer account at mashvisor.com.
  schemas:
    Error:
      type: object
      description: Standard JSON error envelope returned on 4xx/5xx responses.
      properties:
        status:
          type: string
          example: error
        code:
          type: integer
          example: 404
        message:
          type: string
          example: "Not Found -- The specified property could not be found."
      required:
        - status
        - code
        - message
  responses:
    BadRequest:
      description: Bad Request -- Your request is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized -- Your API key is wrong.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not Found -- The specified resource could not be found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Too Many Requests -- You're sending too many requests, slow down.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: Internal Server Error -- We had a problem with our server.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    stateQuery:
      name: state
      in: query
      required: true
      description: Two-letter US state code (e.g. CA). Required; API returns 404 if omitted.
      schema:
        type: string
security:
  - apiKey: []
paths:
  /client/city/list:
    get:
      operationId: listCities
      summary: List cities in a state
      description: Returns the list of cities Mashvisor covers within a given state.
      tags: [Search]
      parameters:
        - $ref: '#/components/parameters/stateQuery'
      responses:
        '200': { description: List of cities }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/metadata/validate-city:
    get:
      operationId: validateCity
      summary: Validate a city
      description: Validates that a given state/city pair is covered by Mashvisor.
      tags: [Search]
      parameters:
        - $ref: '#/components/parameters/stateQuery'
        - { name: city, in: query, required: true, schema: { type: string } }
      responses:
        '200': { description: Validation result }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/city/neighborhoods/{state}/{city}:
    get:
      operationId: listCityNeighborhoods
      summary: List neighborhoods in a city
      description: Returns the neighborhoods within a given state and city.
      tags: [Search]
      parameters:
        - { name: state, in: path, required: true, schema: { type: string } }
        - { name: city, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: List of neighborhoods }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/city/top-markets:
    get:
      operationId: listTopMarkets
      summary: List top markets in a state
      description: Returns the top-performing markets within a given state.
      tags: [Search]
      parameters:
        - $ref: '#/components/parameters/stateQuery'
      responses:
        '200': { description: Top markets }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/city/investment/{state}/{city}:
    get:
      operationId: getCityInvestment
      summary: Get city investment performance
      description: Returns investment performance metrics for a given city.
      tags: [Search]
      parameters:
        - { name: state, in: path, required: true, schema: { type: string } }
        - { name: city, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: City investment performance }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/city/properties/{state}/{city}:
    get:
      operationId: listCityProperties
      summary: List properties in a city
      description: Returns properties within a given state and city.
      tags: [Search]
      parameters:
        - { name: state, in: path, required: true, schema: { type: string } }
        - { name: city, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: City properties }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/city/listings:
    get:
      operationId: listCityListings
      summary: List active listings in a city
      description: Returns active MLS listings for a city or zip code within a state.
      tags: [Search]
      parameters:
        - $ref: '#/components/parameters/stateQuery'
        - { name: city, in: query, required: false, schema: { type: string } }
        - { name: zip_code, in: query, required: false, schema: { type: string } }
      responses:
        '200': { description: City listings }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/trends/neighborhoods:
    get:
      operationId: listNeighborhoodTrends
      summary: List neighborhood trends
      description: Returns trend data for neighborhoods within a given city.
      tags: [Search]
      parameters:
        - $ref: '#/components/parameters/stateQuery'
        - { name: city, in: query, required: true, schema: { type: string } }
      responses:
        '200': { description: Neighborhood trends }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/neighborhood/{id}/bar:
    get:
      operationId: getNeighborhoodBar
      summary: Get neighborhood historical bar data
      description: Returns historical performance bar data for a neighborhood.
      tags: [Search]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/stateQuery'
      responses:
        '200': { description: Neighborhood bar data }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/neighborhood/{id}/schools:
    get:
      operationId: getNeighborhoodSchools
      summary: Get neighborhood schools
      description: Returns schools within a neighborhood.
      tags: [Search]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/stateQuery'
      responses:
        '200': { description: Neighborhood schools }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/property:
    get:
      operationId: getProperty
      summary: Look up a property
      description: >-
        Returns property records by address, id, city, zip code, parcel number,
        or MLS id within a state.
      tags: [Property Info]
      parameters:
        - $ref: '#/components/parameters/stateQuery'
        - { name: address, in: query, required: false, schema: { type: string } }
        - { name: id, in: query, required: false, schema: { type: string } }
        - { name: city, in: query, required: false, schema: { type: string } }
        - { name: zip_code, in: query, required: false, schema: { type: string } }
        - { name: parcel_number, in: query, required: false, schema: { type: string } }
        - { name: mls_id, in: query, required: false, schema: { type: string } }
      responses:
        '200': { description: Property record }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/property/{id}/images:
    get:
      operationId: getPropertyImages
      summary: Get property images
      description: Returns images for a property.
      tags: [Property Info]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/stateQuery'
      responses:
        '200': { description: Property images }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/property/{id}/taxing:
    get:
      operationId: getPropertyTaxing
      summary: Get property taxing data
      description: Returns tax-assessment data for a property.
      tags: [Property Info]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/stateQuery'
      responses:
        '200': { description: Property taxing data }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/property/{id}/transactions:
    get:
      operationId: getPropertyTransactions
      summary: Get property transactions
      description: Returns the sale/transaction history for a property.
      tags: [Property Info]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/stateQuery'
      responses:
        '200': { description: Property transactions }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/property/estimates/{pid}:
    get:
      operationId: getPropertyEstimates
      summary: Get property value estimates
      description: Returns current value estimates for a property.
      tags: [Property Info]
      parameters:
        - { name: pid, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/stateQuery'
      responses:
        '200': { description: Property estimates }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/property/{id}/estimates-history:
    get:
      operationId: getPropertyEstimatesHistory
      summary: Get property estimate history
      description: Returns the historical value-estimate series for a property.
      tags: [Property Info]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/stateQuery'
      responses:
        '200': { description: Property estimate history }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/property/nearby:
    get:
      operationId: listNearbyProperties
      summary: List nearby properties
      description: Returns properties near a given property or location.
      tags: [Property Info]
      parameters:
        - $ref: '#/components/parameters/stateQuery'
        - { name: id, in: query, required: false, schema: { type: string } }
        - { name: address, in: query, required: false, schema: { type: string } }
        - { name: city, in: query, required: false, schema: { type: string } }
        - { name: zip_code, in: query, required: false, schema: { type: string } }
        - { name: parcel_number, in: query, required: false, schema: { type: string } }
        - { name: mls_id, in: query, required: false, schema: { type: string } }
        - { name: page, in: query, required: false, schema: { type: integer } }
      responses:
        '200': { description: Nearby properties }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/property/{id}/schools:
    get:
      operationId: getPropertySchools
      summary: Get property schools
      description: Returns schools near a property.
      tags: [Property Info]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/stateQuery'
      responses:
        '200': { description: Property schools }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/property/{id}/investment:
    get:
      operationId: getPropertyInvestment
      summary: Get property investment analysis
      description: >-
        Returns the full investment analysis for a property, including cap rate,
        cash flow, and ROI, with optional financing and expense overrides.
      tags: [Investment Analysis]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/stateQuery'
        - { name: down_payment, in: query, required: false, schema: { type: number } }
        - { name: loan_type, in: query, required: false, schema: { type: string } }
        - { name: interest_rate, in: query, required: false, schema: { type: number } }
        - { name: airbnb_rental, in: query, required: false, schema: { type: number } }
        - { name: traditional_rental, in: query, required: false, schema: { type: number } }
      responses:
        '200': { description: Investment analysis }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/property/{id}/investment/breakdown:
    get:
      operationId: getPropertyInvestmentBreakdown
      summary: Get property investment breakdown
      description: Returns a detailed cost/return breakdown for a property investment.
      tags: [Investment Analysis]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/stateQuery'
        - { name: airbnb_rental, in: query, required: false, schema: { type: number } }
        - { name: traditional_rental, in: query, required: false, schema: { type: number } }
        - { name: startup_cost, in: query, required: false, schema: { type: number } }
      responses:
        '200': { description: Investment breakdown }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/property/marker:
    get:
      operationId: getPropertyMarker
      summary: Get property marker investment data
      description: Returns map-marker level investment data for a property.
      tags: [Investment Analysis]
      parameters:
        - $ref: '#/components/parameters/stateQuery'
        - { name: pid, in: query, required: true, schema: { type: string } }
        - { name: type, in: query, required: false, schema: { type: string } }
        - { name: payment, in: query, required: false, schema: { type: number } }
      responses:
        '200': { description: Property marker data }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/neighborhood/{id}/airbnb/details:
    get:
      operationId: listNeighborhoodAirbnbDetails
      summary: List neighborhood Airbnb listings
      description: Returns short-term (Airbnb) rental listings and performance for a neighborhood.
      tags: [Investment Analysis]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/stateQuery'
        - { name: page, in: query, required: false, schema: { type: integer } }
        - { name: items, in: query, required: false, schema: { type: integer } }
        - { name: bedrooms, in: query, required: false, schema: { type: integer } }
      responses:
        '200': { description: Neighborhood Airbnb details }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/neighborhood/{id}/traditional/listing:
    get:
      operationId: listNeighborhoodTraditionalListings
      summary: List neighborhood traditional listings
      description: Returns long-term (traditional) rental listings for a neighborhood.
      tags: [Investment Analysis]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/stateQuery'
        - { name: page, in: query, required: false, schema: { type: integer } }
        - { name: items, in: query, required: false, schema: { type: integer } }
        - { name: min_price, in: query, required: false, schema: { type: number } }
        - { name: max_price, in: query, required: false, schema: { type: number } }
      responses:
        '200': { description: Neighborhood traditional listings }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/rental-rates:
    get:
      operationId: getRentalRates
      summary: Get rental-rate estimates
      description: >-
        Retrieves traditional or short-term (Airbnb) rental-rate estimates for a
        neighborhood or area, with comparable attributes and sample counts by
        bedroom count.
      tags: [Rental Rates]
      parameters:
        - $ref: '#/components/parameters/stateQuery'
        - { name: city, in: query, required: false, schema: { type: string } }
        - { name: neighborhood, in: query, required: false, schema: { type: integer, format: int64 } }
        - { name: zip_code, in: query, required: false, schema: { type: integer } }
        - { name: source, in: query, required: false, schema: { type: string, enum: [airbnb, traditional] } }
      responses:
        '200': { description: Rental-rate estimates }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/trends/cities:
    get:
      operationId: listCityTrends
      summary: List city trends
      description: Returns trend data for cities within a state.
      tags: [Trends]
      parameters:
        - $ref: '#/components/parameters/stateQuery'
        - { name: items, in: query, required: false, schema: { type: integer } }
        - { name: page, in: query, required: false, schema: { type: integer } }
      responses:
        '200': { description: City trends }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/trends/summary/{state}/{city}:
    get:
      operationId: getTrendsSummary
      summary: Get market trends summary
      description: Returns a market-trends summary for a given city.
      tags: [Trends]
      parameters:
        - { name: state, in: path, required: true, schema: { type: string } }
        - { name: city, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Trends summary }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/trends/listing-price:
    get:
      operationId: getListingPriceTrends
      summary: Get listing-price trends
      description: Returns listing-price trend data for a zip code.
      tags: [Trends]
      parameters:
        - $ref: '#/components/parameters/stateQuery'
        - { name: zip_code, in: query, required: true, schema: { type: string } }
        - { name: beds, in: query, required: false, schema: { type: integer } }
        - { name: property_type, in: query, required: false, schema: { type: string } }
      responses:
        '200': { description: Listing-price trends }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /client/search/heatmap:
    get:
      operationId: getSearchHeatmap
      summary: Get investment heatmap
      description: Returns heatmap data for a state or bounding box.
      tags: [Trends]
      parameters:
        - $ref: '#/components/parameters/stateQuery'
        - { name: sw_lat, in: query, required: false, schema: { type: number } }
        - { name: sw_lng, in: query, required: false, schema: { type: number } }
        - { name: ne_lat, in: query, required: false, schema: { type: number } }
        - { name: ne_lng, in: query, required: false, schema: { type: number } }
        - { name: type, in: query, required: false, schema: { type: string } }
      responses:
        '200': { description: Heatmap data }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
